# Environment for the FastAPI project
TP_API_ENV=prod
TP_API_DUCKDB_PATH=../data/prod.duckdb
# For local development you can disable read-only connections or flip TP_API_ENV to dev
TP_API_DUCKDB_READ_ONLY=true
# TP_API_DUCKDB_SCHEMA=certified
